# SYSTEM
ENV_DOLLAR=$

# PYPY
PYPY_GC_MAX=1.0G

# LOG
LOG_HAS_FILE=True
LOG_LEVEL=10
LOG_FILE_PATH=/var/log/live-gateway.log
LOG_FILE_MAX_MB=100
LOG_FILE_BACKUP_COUNT=20
LOG_HAS_STREAM=True

# APP
APP_NAME=LiveGateway

APP_WEB_SERVER_NGINX_RTMP_IP=10.8.8.22
APP_WEB_SERVER_NGINX_RTMP_PORT=8080
APP_WEB_SERVER_PUBLIC_IP=0.0.0.0
APP_WEB_SERVER_PUBLIC_PORT=8081

# APP LIVE
APP_LIVE_NEED_AUTH_PUBLISH=False

# APP RECORD
APP_RECORD_ROOT_PATH=/var/opt/nginx/record
APP_RECORD_IS_RECODE_FLV=True

# APP VOD
APP_VOD_ROOT_PATH=/var/opt/nginx/vod
APP_VOD_PALY_URL=/vod

# APP UPLOAD
APP_UPLOAD_ROOT_PATH=/var/opt/nginx/upload

# APP STORE
APP_STORAGE_TYPE=LOCAL
APP_STORAGE_NAS_ROOT_PATH=/mnt/nas

# BUSINESS_APP
BUSINESS_APP_SERVER_URL=http://localhost:8080/web_simulator
#BUSINESS_APP_SERVER_URL=http://10.8.8.22:8090/api/servlet/callback
BUSINESS_APP_NEED_AUTH_PUBLISH=True

# FFmpeg
FFMPEG_CMD_PATH=ffmpeg
