daemon off;
error_log /opt/cloudroom/logs/LiveGateway/nginx_error.log info;

user crproj;
worker_processes 1;


events {
    use epoll;
    worker_connections 65535;
    multi_accept on;
}

rtmp {
    access_log /opt/cloudroom/logs/LiveGateway/nginx_access.log;

    server {
        timeout 60s;
        ping 3m;
        ping_timeout 30s;
        max_streams 2000;
        ack_window 5000000;

        listen 1935;
        chunk_size 4096;
        max_message 1M;
        buflen 1s;

        allow publish all;
        allow play all;

        application live {
            live on;
            meta copy;
            interleave off;
            wait_key on;
            wait_video on;
            publish_notify on;
            drop_idle_publisher 600;
            sync 10ms;
            play_restart off;
            idle_streams off;

            record all;
            record_path /opt/cloudroom/var/LiveGateway/nginx/record;
            # record_suffix -%d-%b-%y-%T.flv;
            record_unique off;
            record_append on;
            record_lock on;
            record_max_size 40960m;
            # record_max_frames 1000000;
            record_interval 24h;
            record_notify on;

            #exec_push /opt/cloudroom/distrib/LiveGateway/ffmpeg/ffmpeg -y -v quiet -i rtmp://127.0.0.1:1935/live/$name -codec copy -c:s webvtt -hls_time 2 -start_number 0 -hls_flags append_list -hls_playlist_type vod -hls_list_size 0 -f hls /opt/cloudroom/var/LiveGateway/nginx/record/$name/index.m3u8;

            exec_push /opt/cloudroom/distrib/LiveGateway/ffmpeg/ffmpeg -y -v quiet -i rtmp://127.0.0.1:1935/live/$name -codec copy -sn -hls_time 2 -start_number 0 -hls_flags append_list -hls_playlist_type vod -hls_list_size 0 -f hls /opt/cloudroom/var/LiveGateway/nginx/record/$name/index.m3u8;


            on_publish http://localhost:18514/nginx_callback;
            on_publish_done http://localhost:18514/nginx_callback;
            notify_update_timeout 30s;
            notify_update_strict on;
            notify_relay_redirect off;
            notify_method post;

            hls on;
            hls_path /tmp/live;
            hls_fragment 5s;
            hls_playlist_length 30s;
            hls_sync 100ms;
            hls_continuous off;
            hls_nested off;
            hls_cleanup on;
            hls_fragment_naming system;
            hls_fragment_naming_granularity 0;
            hls_fragment_slicing aligned;
            hls_type live;
        }

        application src-1080to720 {
            live on;

            exec_push ffmpeg -i rtmp://localhost/src-1080to720/$name
              -preset veryfast -vcodec libx264 -s 1280x720 -f flv rtmp://localhost:1935/live/$name;
        }

        application src-1080to480 {
            live on;

            exec_push ffmpeg -i rtmp://localhost/src-1080to480/$name
              -preset veryfast -vcodec libx264 -s 848x480 -f flv rtmp://localhost:1935/live/$name;
        }

        application src-720to480 {
            live on;

            exec_push ffmpeg -i rtmp://localhost/src-720to480/$name
              -preset veryfast -vcodec libx264 -s 848x480 -f flv rtmp://localhost:1935/live/$name;
        }

    }
}

http {
    access_log /opt/cloudroom/logs/LiveGateway/nginx_access.log;

    server {

        listen 18512;

        location /stat {
            rtmp_stat all;
            rtmp_stat_stylesheet stat.xsl;
        }

        location /stat.xsl {
            root /opt/cloudroom/distrib/LiveGateway/nginx;
        }
		
	location /crossdomain.xml {
	    root /opt/cloudroom/distrib/LiveGateway/nginx;
	}

        location /live {
            types {
                application/vnd.apple.mpegurl m3u8;
                video/mp2t ts;
            }
            root /tmp;
            add_header Cache-Control no-cache;
            add_header Access-Control-Allow-Origin *;
        }

        location ~* ^/vod/.*\.m3u8$ {
            types {
                application/vnd.apple.mpegurl m3u8;
                video/mp2t ts;
            }
            root /opt/cloudroom/var/LiveGateway/nginx;
            add_header Cache-Control no-cache;
            add_header Access-Control-Allow-Origin *;
        }

        location /vod {
            root /opt/cloudroom/var/LiveGateway/nginx;
            add_header Cache-Control no-cache;
            add_header Access-Control-Allow-Origin *;
        }

        location /control {
            rtmp_control all;
        }
    }
}
